.selectStyled {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    color: #031625;
    font-size: 1rem;
    margin: 0.2rem;
    border: 1px solid #1967d3;
    width: 17vw;
    outline: none;
    background-color: white;
    transition: box-shadow 0.3s ease;
    font-weight: normal;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%231967d3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.5rem;
}

.selectStyled:hover {
    box-shadow: 0 4px 12px rgb(135, 206, 235);
}

.selectStyledBold {
    box-shadow: 0 4px 12px rgb(135, 206, 235);
}

.selectStyled:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.optionBold {
    font-weight: bold;
}
